.text{
    background-image: url(./assets/magicpattern-starry-night-1702548929846.png);
    color: transparent;
    background-position: center;
    background-size: 200px;
    background-clip: text;
}